*{
    color: #ddffcc;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 18px;
}

body{
    background: #110022;
}


.flex-container{
    display: flex;
}
.button{

    color: #003355;
    background-color: #11cc22;
    border-radius: 5px;
    padding:7px;
    margin:10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

#colorRange{
    margin-bottom:50px;
}

#random-button{
    background-color: #888822;
    
}